    .baner {
        padding: 50px; 
        background-image: url("mapa\ baner.jpg");
        background-origin: padding-box; 
        background-clip: padding-box;   
        background-repeat: no-repeat;   
        background-size: cover;      
        font-style: oblique;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
        -webkit-text-stroke: 2px black; 
      }

    .texto{
      max-width: 600px; 
      margin: 0 auto;
    }